body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px ;
}

.product-grid {
    width: 80%;
    margin: auto;
 
}

.product-card {
    float: left;
    width: 20%; 
    margin: 1%;
    padding: 10px;
    box-shadow: 0 0 10px rgb(213, 208, 208);
    border-radius: 8px;
    
    background-color: #fff;
}

.product-card img {
    width: 65%;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 1.2;
    margin: 10px ;
}

.product-card p {
    font-size: 3;
    color: #454343;
}

.product-card .price {
    margin: 10px ;
}

.discounted-price {
    font-size: 1.5;
    font-weight: bold;
    color: #28a745;
}

.original-price {
    font-size: 1;
    text-decoration: line-through;
    color: #ff0000;
    margin-left: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


